### Step 1: Import Dependencies required to perform data transformation steps

In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

### Step 2: Read in csv files containing data extractions from various API calls to the National Park Service webpage.

In [2]:
NPS_Amenities_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_amenities_data.csv")
NPS_Amenities_df.head(5)

,amenity_id,amenity_name,amenity_category
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies"
1,4E4D076A-6866-46C8-A28B-A129E2B8F3DB,Accessible Rooms,Accessibility
2,04D29064-B9A1-4031-AD0E-98E31EF69604,Accessible Sites,Accessibility
3,0E2B9B01-9AC3-4AAF-A801-8027314BE863,Airboat Launch,Boating
4,B509969B-F06A-4DCC-BBB3-134964D896E2,Amphitheater,"Interpretive, Recreation"

In [3]:
NPS_Amenities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   amenity_id        50 non-null     object
 1   amenity_name      50 non-null     object
 2   amenity_category  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [4]:
NPS_AmenitiesByPlace_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_amen_place_data.csv")
NPS_AmenitiesByPlace_df.head(5)

,amenity_id,amenity_name,park_code,park_name,park_states,park_designation,park_url
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/
1,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,bibe,Big Bend National Park,TX,National Park,http://www.nps.gov/bibe/
2,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,brca,Bryce Canyon National Park,UT,National Park,http://www.nps.gov/brca/
3,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,cabr,Cabrillo National Monument,CA,National Monument,http://www.nps.gov/cabr/
4,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,deva,Death Valley National Park,"CA,NV",National Park,http://www.nps.gov/deva/

In [5]:
NPS_AmenitiesByPlace_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2581 entries, 0 to 2580
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   amenity_id        2581 non-null   object
 1   amenity_name      2581 non-null   object
 2   park_code         2581 non-null   object
 3   park_name         2581 non-null   object
 4   park_states       2581 non-null   object
 5   park_designation  2453 non-null   object
 6   park_url          2575 non-null   object
dtypes: object(7)
memory usage: 141.3+ KB

In [6]:
NPS_Parks_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_parks_data.csv")
NPS_Parks_df.head(5)

,park_id,park_url,park_name,park_code,park_latitude,park_longitude,park_designation
0,77E0D7F0-1942-494A-ACE2-9004D2BDC59E,https://www.nps.gov/abli/index.htm,Abraham Lincoln Birthplace National Historical...,abli,37.585866,-85.673305,National Historical Park
1,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,https://www.nps.gov/acad/index.htm,Acadia National Park,acad,44.409286,-68.247501,National Park
2,E4C7784E-66A0-4D44-87D0-3E072F5FEF43,https://www.nps.gov/adam/index.htm,Adams National Historical Park,adam,42.255396,-71.011604,National Historical Park
3,1A47416F-DAA3-4137-9F30-14AF86B4E547,https://www.nps.gov/afam/index.htm,African American Civil War Memorial,afam,38.916600,-77.026000,NaN
4,E6E1D22A-7A89-47F8-813C-B611059A8CF9,https://www.nps.gov/afbg/index.htm,African Burial Ground National Monument,afbg,40.714527,-74.004474,National Monument

In [7]:
NPS_Parks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   park_id           50 non-null     object
 1   park_url          50 non-null     object
 2   park_name         50 non-null     object
 3   park_code         50 non-null     object
 4   park_latitude     49 non-null     float64
 5   park_longitude    49 non-null     float64
 6   park_designation  46 non-null     object
dtypes: float64(2), object(5)
memory usage: 2.9+ KB

In [8]:
NPS_Activities_df = pd.read_csv("../Extract/NPS_Activities_Fees/NPS_Project_Extracted_Data/activities.csv")
NPS_Activities_df.head(5)

                            activity_id     activity_name
0  09DF0950-D319-4557-A57E-04CD2F63FF42  Arts and Culture
1  13A57703-BB1A-41A2-94B8-53B692EB7238         Astronomy
2  5F723BAD-7359-48FC-98FA-631592256E35      Auto and ATV
3  7CE6E935-F839-4FEC-A63E-052B1DEF39D2            Biking
4  071BA73C-1D3C-46D4-A53C-00D5602F7F0E           Boating

In [9]:
NPS_Activities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   activity_id    40 non-null     object
 1   activity_name  40 non-null     object
dtypes: object(2)
memory usage: 768.0+ bytes

In [10]:
NPS_ActivitiesByPark_df = pd.read_csv("../Extract/NPS_Activities_Fees/NPS_Project_Extracted_Data/activities_parks.csv")
NPS_ActivitiesByPark_df.head(5)

,activity_id,activity_name,designation,fullName,name,parkCode,states,url
0,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Acadia National Park,Acadia,acad,ME,https://www.nps.gov/acad/index.htm
1,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Arches National Park,Arches,arch,UT,https://www.nps.gov/arch/index.htm
2,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Capitol Reef National Park,Capitol Reef,care,UT,https://www.nps.gov/care/index.htm
3,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Cuyahoga Valley National Park,Cuyahoga Valley,cuva,OH,https://www.nps.gov/cuva/index.htm
4,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Glacier National Park,Glacier,glac,MT,https://www.nps.gov/glac/index.htm

In [11]:
NPS_ActivitiesByPark_df.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   activity_id    769 non-null    object
 1   activity_name  769 non-null    object
 2   designation    769 non-null    object
 3   fullName       769 non-null    object
 4   name           769 non-null    object
 5   parkCode       769 non-null    object
 6   states         769 non-null    object
 7   url            769 non-null    object
dtypes: object(8)
memory usage: 48.2+ KB

In [12]:
NPS_EntranceFees_df = pd.read_csv("../Extract/NPS_Activities_Fees/NPS_Project_Extracted_Data/feespasses.csv")
NPS_EntranceFees_df.head(5)

,parkCode,totalFees,averageFees,totalPasses,averagePasses,isFeeFreePark,entrancePassDescription,entranceFeeDescription,feesAtWorkUrl
0,acad,91.0,13.000000,70.0,70.0,False,A park entrance pass is required year-round. A...,A park entrance pass is required year-round at...,https://www.nps.gov/acad/planyourvisit/fees.htm
1,arch,72.0,18.000000,55.0,55.0,False,NaN,NaN,https://www.nps.gov/arch/learn/management/your...
2,badl,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
3,bibe,425.0,60.714286,55.0,55.0,False,Big Bend National Park Annual Pass: $55 Covers...,All vehicles entering Big Bend National Park a...,https://www.nps.gov/bibe/learn/management/your...
4,bisc,0.0,0.000000,0.0,0.0,True,NaN,NaN,NaN

In [13]:
NPS_EntranceFees_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   parkCode                 6 non-null      object
 1   totalFees                6 non-null      float64
 2   averageFees              6 non-null      float64
 3   totalPasses              6 non-null      float64
 4   averagePasses            6 non-null      float64
 5   isFeeFreePark            6 non-null      bool
 6   entrancePassDescription  2 non-null      object
 7   entranceFeeDescription   3 non-null      object
 8   feesAtWorkUrl            3 non-null      object
dtypes: bool(1), float64(4), object(4)
memory usage: 518.0+ bytes

In [14]:
# Additional line to add Melissa's output file(s) once available
# NPS_GeoLocation_df = pd.read_csv("Extract/NPS_Park_Boundaries/NPS_Project_Extracted_Data/filename.csv")

### Step 3: Edit data to create a single, comprehensive, cleaned dataset for use in analysis

In [15]:
# Merge the two ammenity DataFrames together based on the amenity information they share
Amenity_df = pd.merge(NPS_Amenities_df, NPS_AmenitiesByPlace_df, on=["amenity_id", "amenity_name"])
Amenity_df.head(5)

,amenity_id,amenity_name,amenity_category,park_code,park_name,park_states,park_designation,park_url
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/
1,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",bibe,Big Bend National Park,TX,National Park,http://www.nps.gov/bibe/
2,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",brca,Bryce Canyon National Park,UT,National Park,http://www.nps.gov/brca/
3,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",cabr,Cabrillo National Monument,CA,National Monument,http://www.nps.gov/cabr/
4,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",deva,Death Valley National Park,"CA,NV",National Park,http://www.nps.gov/deva/

In [16]:
# Merge the two activities DataFrames together based on the activity information they share
Activity_df = pd.merge(NPS_Activities_df, NPS_ActivitiesByPark_df, on=["activity_id", "activity_name"])
Activity_df.head(5)

,activity_id,activity_name,designation,fullName,name,parkCode,states,url
0,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Acadia National Park,Acadia,acad,ME,https://www.nps.gov/acad/index.htm
1,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Arches National Park,Arches,arch,UT,https://www.nps.gov/arch/index.htm
2,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Capitol Reef National Park,Capitol Reef,care,UT,https://www.nps.gov/care/index.htm
3,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Cuyahoga Valley National Park,Cuyahoga Valley,cuva,OH,https://www.nps.gov/cuva/index.htm
4,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Glacier National Park,Glacier,glac,MT,https://www.nps.gov/glac/index.htm

In [17]:
# Rename column headers to prepare for merge
Activity_df.rename(columns={"fullName": "park_name", "parkCode": "park_code"}, inplace=True)
Activity_df.head(5)

,activity_id,activity_name,designation,park_name,name,park_code,states,url
0,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Acadia National Park,Acadia,acad,ME,https://www.nps.gov/acad/index.htm
1,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Arches National Park,Arches,arch,UT,https://www.nps.gov/arch/index.htm
2,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Capitol Reef National Park,Capitol Reef,care,UT,https://www.nps.gov/care/index.htm
3,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Cuyahoga Valley National Park,Cuyahoga Valley,cuva,OH,https://www.nps.gov/cuva/index.htm
4,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Glacier National Park,Glacier,glac,MT,https://www.nps.gov/glac/index.htm

In [18]:
# Merge the two activities DataFrames together based on the park location information they share
Amen_Act_df = pd.merge(Amenity_df, Activity_df, on=["park_name", "park_code"])
Amen_Act_df.head(5)

,amenity_id,amenity_name,amenity_category,park_code,park_name,park_states,park_designation,park_url,activity_id,activity_name,designation,name,states,url
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,13A57703-BB1A-41A2-94B8-53B692EB7238,Astronomy,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm
1,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,5F723BAD-7359-48FC-98FA-631592256E35,Auto and ATV,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm
2,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,7CE6E935-F839-4FEC-A63E-052B1DEF39D2,Biking,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm
3,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,A59947B7-3376-49B4-AD02-C0423E08C5F7,Camping,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm
4,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,C11D3746-5063-4BD0-B245-7178D1AD866C,Compass and GPS,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm

In [19]:
Amen_Act_Per_Park_df = pd.merge(Amen_Act_df, NPS_Parks_df, on=["park_name", "park_code"])
Amen_Act_Per_Park_df.head(5)

,amenity_id,amenity_name,amenity_category,park_code,park_name,park_states,park_designation_x,park_url_x,activity_id,activity_name,designation,name,states,url,park_id,park_url_y,park_latitude,park_longitude,park_designation_y
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,13A57703-BB1A-41A2-94B8-53B692EB7238,Astronomy,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm,B170CCF7-7AB9-48FF-950E-31815FD4DBB2,https://www.nps.gov/badl/index.htm,43.685848,-102.482942,National Park
1,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,5F723BAD-7359-48FC-98FA-631592256E35,Auto and ATV,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm,B170CCF7-7AB9-48FF-950E-31815FD4DBB2,https://www.nps.gov/badl/index.htm,43.685848,-102.482942,National Park
2,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,7CE6E935-F839-4FEC-A63E-052B1DEF39D2,Biking,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm,B170CCF7-7AB9-48FF-950E-31815FD4DBB2,https://www.nps.gov/badl/index.htm,43.685848,-102.482942,National Park
3,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,A59947B7-3376-49B4-AD02-C0423E08C5F7,Camping,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm,B170CCF7-7AB9-48FF-950E-31815FD4DBB2,https://www.nps.gov/badl/index.htm,43.685848,-102.482942,National Park
4,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,C11D3746-5063-4BD0-B245-7178D1AD866C,Compass and GPS,National Park,Badlands,SD,https://www.nps.gov/badl/index.htm,B170CCF7-7AB9-48FF-950E-31815FD4DBB2,https://www.nps.gov/badl/index.htm,43.685848,-102.482942,National Park

In [21]:
# Rename column headers to prepare for merge
NPS_EntranceFees_df.rename(columns={"parkCode": "park_code"}, inplace=True)
NPS_EntranceFees_df.head(5)

,park_code,totalFees,averageFees,totalPasses,averagePasses,isFeeFreePark,entrancePassDescription,entranceFeeDescription,feesAtWorkUrl
0,acad,91.0,13.000000,70.0,70.0,False,A park entrance pass is required year-round. A...,A park entrance pass is required year-round at...,https://www.nps.gov/acad/planyourvisit/fees.htm
1,arch,72.0,18.000000,55.0,55.0,False,NaN,NaN,https://www.nps.gov/arch/learn/management/your...
2,badl,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
3,bibe,425.0,60.714286,55.0,55.0,False,Big Bend National Park Annual Pass: $55 Covers...,All vehicles entering Big Bend National Park a...,https://www.nps.gov/bibe/learn/management/your...
4,bisc,0.0,0.000000,0.0,0.0,True,NaN,NaN,NaN

In [22]:
Fee_Amen_Act_Loc_df = pd.merge(Amen_Act_Per_Park_df, NPS_EntranceFees_df, on=["park_code"])
Fee_Amen_Act_Loc_df.head(5)

,amenity_id,amenity_name,amenity_category,park_code,park_name,park_states,park_designation_x,park_url_x,activity_id,activity_name,...,park_longitude,park_designation_y,totalFees,averageFees,totalPasses,averagePasses,isFeeFreePark,entrancePassDescription,entranceFeeDescription,feesAtWorkUrl
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,13A57703-BB1A-41A2-94B8-53B692EB7238,Astronomy,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
1,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,5F723BAD-7359-48FC-98FA-631592256E35,Auto and ATV,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
2,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,7CE6E935-F839-4FEC-A63E-052B1DEF39D2,Biking,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
3,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,A59947B7-3376-49B4-AD02-C0423E08C5F7,Camping,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
4,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,C11D3746-5063-4BD0-B245-7178D1AD866C,Compass and GPS,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN

In [25]:
Fee_Amen_Act_Loc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   amenity_id               680 non-null    object
 1   amenity_name             680 non-null    object
 2   amenity_category         680 non-null    object
 3   park_code                680 non-null    object
 4   park_name                680 non-null    object
 5   park_states              680 non-null    object
 6   park_designation_x       680 non-null    object
 7   park_url_x               680 non-null    object
 8   activity_id              680 non-null    object
 9   activity_name            680 non-null    object
 10  designation              680 non-null    object
 11  name                     680 non-null    object
 12  states                   680 non-null    object
 13  url                      680 non-null    object
 14  park_id                  680 non-null    object
 15  park_url_y               680 non-null    object
 16  park_latitude            680 non-null    float64
 17  park_longitude           680 non-null    float64
 18  park_designation_y       680 non-null    object
 19  totalFees                680 non-null    float64
 20  averageFees              680 non-null    float64
 21  totalPasses              680 non-null    float64
 22  averagePasses            680 non-null    float64
 23  isFeeFreePark            680 non-null    bool
 24  entrancePassDescription  540 non-null    object
 25  entranceFeeDescription   660 non-null    object
 26  feesAtWorkUrl            551 non-null    object
dtypes: bool(1), float64(6), object(20)
memory usage: 138.9+ KB

In [30]:
# Only keep rows that correspond to a National Park
NPS_dataset_df = Fee_Amen_Act_Loc_df[(Fee_Amen_Act_Loc_df["park_designation_x"] == "National Park")]
NPS_dataset_df.head(5)

,amenity_id,amenity_name,amenity_category,park_code,park_name,park_states,park_designation_x,park_url_x,activity_id,activity_name,...,park_longitude,park_designation_y,totalFees,averageFees,totalPasses,averagePasses,isFeeFreePark,entrancePassDescription,entranceFeeDescription,feesAtWorkUrl
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,13A57703-BB1A-41A2-94B8-53B692EB7238,Astronomy,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
1,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,5F723BAD-7359-48FC-98FA-631592256E35,Auto and ATV,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
2,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,7CE6E935-F839-4FEC-A63E-052B1DEF39D2,Biking,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
3,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,A59947B7-3376-49B4-AD02-C0423E08C5F7,Camping,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
4,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,"Convenience, Souvenirs and Supplies",badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/,C11D3746-5063-4BD0-B245-7178D1AD866C,Compass and GPS,...,-102.482942,National Park,355.0,50.714286,55.0,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN

In [32]:
# View all available columns
print(NPS_dataset_df.columns)

Index(['amenity_id', 'amenity_name', 'amenity_category', 'park_code',
       'park_name', 'park_states', 'park_designation_x', 'park_url_x',
       'activity_id', 'activity_name', 'designation', 'name', 'states', 'url',
       'park_id', 'park_url_y', 'park_latitude', 'park_longitude',
       'park_designation_y', 'totalFees', 'averageFees', 'totalPasses',
       'averagePasses', 'isFeeFreePark', 'entrancePassDescription',
       'entranceFeeDescription', 'feesAtWorkUrl'],
      dtype='object')

In [38]:
# Create a DataFrame called NPS_Cleaned_df with only columns useful for downstream data analysis

# Remove fields not useful to data analysis from the dataset
NPS_Cleaned_df = NPS_dataset_df[['amenity_name', 'park_code', 'park_name', 'park_states', 'park_designation_x', 
    'park_url_x', 'activity_name', 'park_latitude', 'park_longitude', 'totalFees', 
    'isFeeFreePark']]
    
# Rename the columns 
NPS_Cleaned_df = NPS_Cleaned_df.rename(columns={
    'park_designation_x': 'Park Designation',
    'park_code': 'Park Code',
    'park_name': 'Park Name',
    'park_states': 'Present in States',
    'isFeeFreePark': 'Free Entrance',
    'totalFees': 'Entrance Fee',
    'park_url_x': 'Park Website',
    'activity_name': 'Activity Option',
    'amenity_name': 'Available Amenity',
    'park_latitude': 'Park Latitude',
    'park_longitude': 'Park Longitude'
})

# Reorder the columns
NPS_Cleaned_df = NPS_Cleaned_df[['Park Designation', 'Park Code', 'Park Name', 'Present in States', 'Free Entrance',
                                 'Entrance Fee', 'Park Website', 'Activity Option', 'Available Amenity', 'Park Latitude', 'Park Longitude']]

# Format the Entrance Fee column
NPS_Cleaned_df["Entrance Fees"] = NPS_Cleaned_df["Entrance Fee"].map("${:,.2f}".format)

# Display the DataFrame
NPS_Cleaned_df.head(5)

,Park Designation,Park Code,Park Name,Present in States,Free Entrance,Entrance Fee,Park Website,Activity Option,Available Amenity,Park Latitude,Park Longitude,Entrance Fees
0,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Astronomy,ATM/Cash Machine,43.685848,-102.482942,$355.00
1,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Auto and ATV,ATM/Cash Machine,43.685848,-102.482942,$355.00
2,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Biking,ATM/Cash Machine,43.685848,-102.482942,$355.00
3,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Camping,ATM/Cash Machine,43.685848,-102.482942,$355.00
4,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Compass and GPS,ATM/Cash Machine,43.685848,-102.482942,$355.00

In [39]:
NPS_Cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Park Designation   680 non-null    object
 1   Park Code          680 non-null    object
 2   Park Name          680 non-null    object
 3   Present in States  680 non-null    object
 4   Free Entrance      680 non-null    bool
 5   Entrance Fee       680 non-null    float64
 6   Park Website       680 non-null    object
 7   Activity Option    680 non-null    object
 8   Available Amenity  680 non-null    object
 9   Park Latitude      680 non-null    float64
 10  Park Longitude     680 non-null    float64
 11  Entrance Fees      680 non-null    object
dtypes: bool(1), float64(3), object(8)
memory usage: 59.2+ KB

In [40]:
# Drop rows with any empty cells
NPS_Cleaned_df = NPS_Cleaned_df.dropna()

# Display the first few rows of the cleaned DataFrame after dropping empty cells
NPS_Cleaned_df.head()

,Park Designation,Park Code,Park Name,Present in States,Free Entrance,Entrance Fee,Park Website,Activity Option,Available Amenity,Park Latitude,Park Longitude,Entrance Fees
0,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Astronomy,ATM/Cash Machine,43.685848,-102.482942,$355.00
1,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Auto and ATV,ATM/Cash Machine,43.685848,-102.482942,$355.00
2,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Biking,ATM/Cash Machine,43.685848,-102.482942,$355.00
3,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Camping,ATM/Cash Machine,43.685848,-102.482942,$355.00
4,National Park,badl,Badlands National Park,SD,False,355.0,http://www.nps.gov/badl/,Compass and GPS,ATM/Cash Machine,43.685848,-102.482942,$355.00

In [42]:
NPS_Cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Park Designation   680 non-null    object
 1   Park Code          680 non-null    object
 2   Park Name          680 non-null    object
 3   Present in States  680 non-null    object
 4   Free Entrance      680 non-null    bool
 5   Entrance Fee       680 non-null    float64
 6   Park Website       680 non-null    object
 7   Activity Option    680 non-null    object
 8   Available Amenity  680 non-null    object
 9   Park Latitude      680 non-null    float64
 10  Park Longitude     680 non-null    float64
 11  Entrance Fees      680 non-null    object
dtypes: bool(1), float64(3), object(8)
memory usage: 59.2+ KB

In [43]:
# Export DataFrame to a CSV file
NPS_Cleaned_df.to_csv('NPS_Cleaned_Data.csv', index=False)

# Export DataFrame to a JSON file
NPS_Cleaned_df.to_json('NPS_Cleaned_Data.json', orient='records')

print("DataFrame exported to CSV and JSON files successfully.")

DataFrame exported to CSV and JSON files successfully.

In [46]:
import os
import shutil

# Define the file paths for the original and destination folders
destination_folder = '../Load'

# Create the destination folder if it doesn't exist
if not os.path.exists(destination_folder):
    os.makedirs(destination_folder)

# Define the file names and paths
files = {
    'NPS_Cleaned_Data.csv': 'NPS_Cleaned_Data.csv',
    'NPS_Cleaned_Data.json': 'NPS_Cleaned_Data.json'
}

# Copy the file to the destination folder
for target_name, source_path in files.items():
    if os.path.exists(source_path):
        shutil.copy(source_path, os.path.join(destination_folder, target_name))

print(f"Files copied successfully to {destination_folder}: {os.listdir(destination_folder)}")

Files copied successfully to ../Load: ['MongoDB', 'NPS_Cleaned_Data.csv', 'NPS_Cleaned_Data.json', 'SQL']