### Step 1: Import Dependencies required to perform data transformation steps

In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

### Step 2: Read in csv files containing data extractions from various API calls to the National Park Service webpage.

In [2]:
# Load the CSV files
NPS_ThingsToDo_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_ttd_data.csv")
NPS_AmenitiesByPlace_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_amen_place_data.csv")
NPS_Parks_df = pd.read_csv("../Extract/NPS Amenities Info/NPS_Project_Extracted_Data/nps_parks_data.csv")
NPS_ActivitiesByPark_df = pd.read_csv("../Extract/NPS_Activities_Fees/NPS_Project_Extracted_Data/activities_parks.csv")
NPS_EntranceFees_df = pd.read_csv("../Extract/NPS_Activities_Fees/NPS_Project_Extracted_Data/feespasses.csv")

In [3]:
# Display info and head of each DataFrame
print("NPS_ThingsToDo_df info")
NPS_ThingsToDo_df.info()
NPS_ThingsToDo_df.head(5)

NPS_ThingsToDo_df info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tags                   87 non-null     object
 1   location               83 non-null     object
 2   isReservationRequired  87 non-null     bool
 3   arePetsPermitted       87 non-null     bool
 4   activities             87 non-null     object
 5   amenities              87 non-null     object
 6   doFeesApply            87 non-null     bool
 7   season                 87 non-null     object
 8   duration               50 non-null     object
 9   parkCode               87 non-null     object
 10  designation            87 non-null     object
 11  fullName               87 non-null     object
 12  states                 87 non-null     object
dtypes: bool(3), object(10)
memory usage: 7.2+ KB

,tags,location,isReservationRequired,arePetsPermitted,activities,amenities,doFeesApply,season,duration,parkCode,designation,fullName,states
0,"['Acadia National Park', 'Echo Lake', 'echo la...",Echo Lake Beach,False,True,[{'id': '587BB2D3-EC35-41B2-B3F7-A39E2B088AEE'...,[],False,['Summer'],NaN,acad,National Park,Acadia National Park,ME
1,"['stargazing', 'night skies', 'Acadia National...",Cadillac Mountain,False,True,[{'id': 'D37A0003-8317-4F04-8FB0-4CF0A272E195'...,[],False,"['Spring', 'Summer', 'Fall']",NaN,acad,National Park,Acadia National Park,ME
2,[],Acadia Mountain Loop,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"['Spring', 'Summer', 'Fall']",2-3 Hours,acad,National Park,Acadia National Park,ME
3,[],Sargent and Penobscot Mountains from JPH,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"['Spring', 'Summer', 'Fall']",NaN,acad,National Park,Acadia National Park,ME
4,[],Jordan Pond Loop,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"['Spring', 'Summer', 'Fall']",1-2 Hours,acad,National Park,Acadia National Park,ME

In [4]:
print("\nNPS_AmenitiesByPlace_df info")
NPS_AmenitiesByPlace_df.info()
NPS_AmenitiesByPlace_df.head(5)

NPS_AmenitiesByPlace_df info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8652 entries, 0 to 8651
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   amenity_id        8652 non-null   object
 1   amenity_name      8652 non-null   object
 2   park_code         8652 non-null   object
 3   park_name         8652 non-null   object
 4   park_states       8652 non-null   object
 5   park_designation  8216 non-null   object
 6   park_url          8640 non-null   object
dtypes: object(7)
memory usage: 473.3+ KB

,amenity_id,amenity_name,park_code,park_name,park_states,park_designation,park_url
0,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,badl,Badlands National Park,SD,National Park,http://www.nps.gov/badl/
1,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,bibe,Big Bend National Park,TX,National Park,http://www.nps.gov/bibe/
2,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,brca,Bryce Canyon National Park,UT,National Park,http://www.nps.gov/brca/
3,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,cabr,Cabrillo National Monument,CA,National Monument,http://www.nps.gov/cabr/
4,A1B0AD01-740C-41E7-8412-FBBEDD5F1443,ATM/Cash Machine,deva,Death Valley National Park,"CA,NV",National Park,http://www.nps.gov/deva/

In [6]:
print("\nNPS_Parks_df info")
NPS_Parks_df.info()
NPS_Parks_df.head(5)

NPS_Parks_df info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   park_id           471 non-null    object
 1   park_url          471 non-null    object
 2   park_name         471 non-null    object
 3   park_code         471 non-null    object
 4   park_latitude     470 non-null    float64
 5   park_longitude    470 non-null    float64
 6   park_designation  435 non-null    object
dtypes: float64(2), object(5)
memory usage: 25.9+ KB

,park_id,park_url,park_name,park_code,park_latitude,park_longitude,park_designation
0,77E0D7F0-1942-494A-ACE2-9004D2BDC59E,https://www.nps.gov/abli/index.htm,Abraham Lincoln Birthplace National Historical...,abli,37.585866,-85.673305,National Historical Park
1,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,https://www.nps.gov/acad/index.htm,Acadia National Park,acad,44.409286,-68.247501,National Park
2,E4C7784E-66A0-4D44-87D0-3E072F5FEF43,https://www.nps.gov/adam/index.htm,Adams National Historical Park,adam,42.255396,-71.011604,National Historical Park
3,1A47416F-DAA3-4137-9F30-14AF86B4E547,https://www.nps.gov/afam/index.htm,African American Civil War Memorial,afam,38.916600,-77.026000,NaN
4,E6E1D22A-7A89-47F8-813C-B611059A8CF9,https://www.nps.gov/afbg/index.htm,African Burial Ground National Monument,afbg,40.714527,-74.004474,National Monument

In [7]:
print("\nNPS_ActivitiesByPark_df info")
NPS_ActivitiesByPark_df.info()
NPS_ActivitiesByPark_df.head(5)

NPS_ActivitiesByPark_df info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   activity_id       769 non-null    object
 1   activity_name     769 non-null    object
 2   park_designation  769 non-null    object
 3   park_name         769 non-null    object
 4   park_code         769 non-null    object
 5   park_states       769 non-null    object
 6   park_url          769 non-null    object
dtypes: object(7)
memory usage: 42.2+ KB

,activity_id,activity_name,park_designation,park_name,park_code,park_states,park_url
0,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Acadia National Park,acad,ME,https://www.nps.gov/acad/index.htm
1,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Arches National Park,arch,UT,https://www.nps.gov/arch/index.htm
2,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Capitol Reef National Park,care,UT,https://www.nps.gov/care/index.htm
3,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Cuyahoga Valley National Park,cuva,OH,https://www.nps.gov/cuva/index.htm
4,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,National Park,Glacier National Park,glac,MT,https://www.nps.gov/glac/index.htm

In [8]:
print("\nNPS_EntranceFees_df info")
NPS_EntranceFees_df.info()
NPS_EntranceFees_df.head(5)

NPS_EntranceFees_df info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   park_code                  6 non-null      object
 1   total_fees                 6 non-null      float64
 2   average_fees               6 non-null      float64
 3   pass_fee                   6 non-null      float64
 4   free_park                  6 non-null      bool
 5   entrance_pass_description  2 non-null      object
 6   entrance_fee_description   3 non-null      object
 7   fees_url                   3 non-null      object
dtypes: bool(1), float64(3), object(4)
memory usage: 470.0+ bytes

,park_code,total_fees,average_fees,pass_fee,free_park,entrance_pass_description,entrance_fee_description,fees_url
0,acad,91.0,13.000000,70.0,False,A park entrance pass is required year-round. A...,A park entrance pass is required year-round at...,https://www.nps.gov/acad/planyourvisit/fees.htm
1,arch,72.0,18.000000,55.0,False,NaN,NaN,https://www.nps.gov/arch/learn/management/your...
2,badl,355.0,50.714286,55.0,False,NaN,Badlands National Park charges an entrance fee...,NaN
3,bibe,425.0,60.714286,55.0,False,Big Bend National Park Annual Pass: $55 Covers...,All vehicles entering Big Bend National Park a...,https://www.nps.gov/bibe/learn/management/your...
4,bisc,0.0,0.000000,0.0,True,NaN,NaN,NaN

In [9]:
# Remove "[" and "]" from the "tags" column
NPS_ThingsToDo_df['tags'] = NPS_ThingsToDo_df['tags'].str.strip('[]').str.replace("'", "")

# Split the "tags" column into multiple columns dynamically
tags_split = NPS_ThingsToDo_df['tags'].str.split(',', expand=True)

# Rename the columns to tag1, tag2, tag3, and so forth
tags_split.columns = [f"tag{i+1}" for i in range(tags_split.shape[1])]

# Concatenate the split columns with the original DataFrame
NPS_ThingsToDo_df = pd.concat([NPS_ThingsToDo_df, tags_split], axis=1)

# Display the updated DataFrame
NPS_ThingsToDo_df.head(5)

,tags,location,isReservationRequired,arePetsPermitted,activities,amenities,doFeesApply,season,duration,parkCode,...,tag7,tag8,tag9,tag10,tag11,tag12,tag13,tag14,tag15,tag16
0,"Acadia National Park, Echo Lake, echo lake bea...",Echo Lake Beach,False,True,[{'id': '587BB2D3-EC35-41B2-B3F7-A39E2B088AEE'...,[],False,['Summer'],NaN,acad,...,great ponds,None,None,None,None,None,None,None,None,None
1,"stargazing, night skies, Acadia National Park,...",Cadillac Mountain,False,True,[{'id': 'D37A0003-8317-4F04-8FB0-4CF0A272E195'...,[],False,"['Spring', 'Summer', 'Fall']",NaN,acad,...,mount desert island,None,None,None,None,None,None,None,None,None
2,,Acadia Mountain Loop,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"['Spring', 'Summer', 'Fall']",2-3 Hours,acad,...,None,None,None,None,None,None,None,None,None,None
3,,Sargent and Penobscot Mountains from JPH,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"['Spring', 'Summer', 'Fall']",NaN,acad,...,None,None,None,None,None,None,None,None,None,None
4,,Jordan Pond Loop,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"['Spring', 'Summer', 'Fall']",1-2 Hours,acad,...,None,None,None,None,None,None,None,None,None,None

In [10]:
# Remove "[" and "]" from the "season" column
NPS_ThingsToDo_df['season'] = NPS_ThingsToDo_df['season'].str.strip('[]').str.replace("'", "")

# Split the "season" column into multiple columns dynamically
season_split = NPS_ThingsToDo_df['season'].str.split(',', expand=True)

# Rename the columns to season1, season2, season3, and so forth
season_split.columns = [f"season{i+1}" for i in range(season_split.shape[1])]

# Concatenate the split columns with the original DataFrame
NPS_ThingsToDo_df = pd.concat([NPS_ThingsToDo_df, season_split], axis=1)

# Display the updated DataFrame
NPS_ThingsToDo_df.head(5)

,tags,location,isReservationRequired,arePetsPermitted,activities,amenities,doFeesApply,season,duration,parkCode,...,tag11,tag12,tag13,tag14,tag15,tag16,season1,season2,season3,season4
0,"Acadia National Park, Echo Lake, echo lake bea...",Echo Lake Beach,False,True,[{'id': '587BB2D3-EC35-41B2-B3F7-A39E2B088AEE'...,[],False,Summer,NaN,acad,...,None,None,None,None,None,None,Summer,None,None,None
1,"stargazing, night skies, Acadia National Park,...",Cadillac Mountain,False,True,[{'id': 'D37A0003-8317-4F04-8FB0-4CF0A272E195'...,[],False,"Spring, Summer, Fall",NaN,acad,...,None,None,None,None,None,None,Spring,Summer,Fall,None
2,,Acadia Mountain Loop,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"Spring, Summer, Fall",2-3 Hours,acad,...,None,None,None,None,None,None,Spring,Summer,Fall,None
3,,Sargent and Penobscot Mountains from JPH,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"Spring, Summer, Fall",NaN,acad,...,None,None,None,None,None,None,Spring,Summer,Fall,None
4,,Jordan Pond Loop,False,True,[{'id': '45261C0A-00D8-4C27-A1F8-029F933A0D34'...,[],False,"Spring, Summer, Fall",1-2 Hours,acad,...,None,None,None,None,None,None,Spring,Summer,Fall,None

In [11]:
# Remove "[" and "]" from the "activities" column
NPS_ThingsToDo_df['activities'] = NPS_ThingsToDo_df['activities'].str.strip('[]').str.replace("'", "")

NPS_ThingsToDo_df.head(5)

,tags,location,isReservationRequired,arePetsPermitted,activities,amenities,doFeesApply,season,duration,parkCode,...,tag11,tag12,tag13,tag14,tag15,tag16,season1,season2,season3,season4
0,"Acadia National Park, Echo Lake, echo lake bea...",Echo Lake Beach,False,True,"{id: 587BB2D3-EC35-41B2-B3F7-A39E2B088AEE, nam...",[],False,Summer,NaN,acad,...,None,None,None,None,None,None,Summer,None,None,None
1,"stargazing, night skies, Acadia National Park,...",Cadillac Mountain,False,True,"{id: D37A0003-8317-4F04-8FB0-4CF0A272E195, nam...",[],False,"Spring, Summer, Fall",NaN,acad,...,None,None,None,None,None,None,Spring,Summer,Fall,None
2,,Acadia Mountain Loop,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,"Spring, Summer, Fall",2-3 Hours,acad,...,None,None,None,None,None,None,Spring,Summer,Fall,None
3,,Sargent and Penobscot Mountains from JPH,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,"Spring, Summer, Fall",NaN,acad,...,None,None,None,None,None,None,Spring,Summer,Fall,None
4,,Jordan Pond Loop,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,"Spring, Summer, Fall",1-2 Hours,acad,...,None,None,None,None,None,None,Spring,Summer,Fall,None

In [12]:
# Drop the original "tags" and "seasons" columns
NPS_ThingsToDo_df = NPS_ThingsToDo_df.drop(columns=['tags', 'season'])

NPS_ThingsToDo_df.head(5)

,location,isReservationRequired,arePetsPermitted,activities,amenities,doFeesApply,duration,parkCode,designation,fullName,...,tag11,tag12,tag13,tag14,tag15,tag16,season1,season2,season3,season4
0,Echo Lake Beach,False,True,"{id: 587BB2D3-EC35-41B2-B3F7-A39E2B088AEE, nam...",[],False,NaN,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Summer,None,None,None
1,Cadillac Mountain,False,True,"{id: D37A0003-8317-4F04-8FB0-4CF0A272E195, nam...",[],False,NaN,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Spring,Summer,Fall,None
2,Acadia Mountain Loop,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,2-3 Hours,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Spring,Summer,Fall,None
3,Sargent and Penobscot Mountains from JPH,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,NaN,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Spring,Summer,Fall,None
4,Jordan Pond Loop,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,1-2 Hours,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Spring,Summer,Fall,None

In [13]:
# Rename columns to align with other DataFrames
NPS_ThingsToDo_df.rename(columns={
    "parkCode": "park_code", 
    "fullName": "park_name", 
    "designation": "park_designation",
    "isReservationRequired": "reservation_required",
    "arePetsPermitted": "pets_permitted",
    "doFeesApply": "do_fees_apply",
    "location": "location",
    "duration": "duration",
    "states": "park_states"
}, inplace=True)

print("\nTransformed NPS_ThingsToDo_df")
NPS_ThingsToDo_df.head(5)

Transformed NPS_ThingsToDo_df

,location,reservation_required,pets_permitted,activities,amenities,do_fees_apply,duration,park_code,park_designation,park_name,...,tag11,tag12,tag13,tag14,tag15,tag16,season1,season2,season3,season4
0,Echo Lake Beach,False,True,"{id: 587BB2D3-EC35-41B2-B3F7-A39E2B088AEE, nam...",[],False,NaN,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Summer,None,None,None
1,Cadillac Mountain,False,True,"{id: D37A0003-8317-4F04-8FB0-4CF0A272E195, nam...",[],False,NaN,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Spring,Summer,Fall,None
2,Acadia Mountain Loop,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,2-3 Hours,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Spring,Summer,Fall,None
3,Sargent and Penobscot Mountains from JPH,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,NaN,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Spring,Summer,Fall,None
4,Jordan Pond Loop,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,1-2 Hours,acad,National Park,Acadia National Park,...,None,None,None,None,None,None,Spring,Summer,Fall,None

In [14]:
# Drop the duration column in NPS_ThingsToDo_df
NPS_ThingsToDo_df = NPS_ThingsToDo_df.drop(columns=['duration'])

In [15]:
NPS_ThingsToDo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   location              83 non-null     object
 1   reservation_required  87 non-null     bool
 2   pets_permitted        87 non-null     bool
 3   activities            87 non-null     object
 4   amenities             87 non-null     object
 5   do_fees_apply         87 non-null     bool
 6   park_code             87 non-null     object
 7   park_designation      87 non-null     object
 8   park_name             87 non-null     object
 9   park_states           87 non-null     object
 10  tag1                  87 non-null     object
 11  tag2                  75 non-null     object
 12  tag3                  75 non-null     object
 13  tag4                  74 non-null     object
 14  tag5                  73 non-null     object
 15  tag6                  70 non-null     object
 16  tag7                  62 non-null     object
 17  tag8                  51 non-null     object
 18  tag9                  39 non-null     object
 19  tag10                 26 non-null     object
 20  tag11                 12 non-null     object
 21  tag12                 7 non-null      object
 22  tag13                 3 non-null      object
 23  tag14                 1 non-null      object
 24  tag15                 1 non-null      object
 25  tag16                 1 non-null      object
 26  season1               87 non-null     object
 27  season2               81 non-null     object
 28  season3               78 non-null     object
 29  season4               31 non-null     object
dtypes: bool(3), object(27)
memory usage: 18.7+ KB

In [16]:
# Load the additional CSV files
NPS_ParkCodes_df = pd.read_csv("../Extract/NPS_Weather/NPS_Weather_Extracted_Data/nps_park_codes.csv")
NPS_Weather_df = pd.read_csv("../Extract/NPS_Weather/NPS_Weather_Extracted_Data/nps_weather.csv")

In [17]:
# Display info and head of the additional DataFrames
print("NPS_ParkCodes_df info")
print(NPS_ParkCodes_df.info())
NPS_ParkCodes_df.head(5)

NPS_ParkCodes_df info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   park_code  51 non-null     object
 1   park_name  51 non-null     object
dtypes: object(2)
memory usage: 944.0+ bytes
None

  park_code                      park_name
0      acad           Acadia National Park
1      arch           Arches National Park
2      care     Capitol Reef National Park
3      cuva  Cuyahoga Valley National Park
4      glac          Glacier National Park

In [18]:
print("\nNPS_Weather_df info")
print(NPS_Weather_df.info())
NPS_Weather_df.head(5)

NPS_Weather_df info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   minSummer  51 non-null     float64
 1   maxSummer  51 non-null     float64
 2   minWinter  51 non-null     float64
 3   maxWinter  51 non-null     float64
 4   minSpring  51 non-null     float64
 5   maxSpring  51 non-null     float64
 6   minFall    51 non-null     float64
 7   maxFall    51 non-null     float64
 8   parkCode   51 non-null     object
dtypes: float64(8), object(1)
memory usage: 3.7+ KB
None

,minSummer,maxSummer,minWinter,maxWinter,minSpring,maxSpring,minFall,maxFall,parkCode
0,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2,acad
1,56.4,82.8,17.9,32.0,29.8,40.0,44.4,67.2,arch
2,56.2,79.2,18.0,25.9,12.5,41.4,46.9,60.8,badl
3,78.7,96.8,42.0,55.8,30.0,55.6,74.8,96.9,bibe
4,76.5,92.2,59.8,73.0,58.0,69.4,81.1,89.0,bisc

In [19]:
# Rename columns in NPS_Weather_df to align with other DataFrames
NPS_Weather_df.rename(columns={
    "minSummer": "min_summer_temp",
    "maxSummer": "max_summer_temp",
    "minWinter": "min_winter_temp",
    "maxWinter": "max_winter_temp",
    "minSpring": "min_spring_temp",
    "maxSpring": "max_spring_temp",
    "minFall": "min_fall_temp",
    "maxFall": "max_fall_temp",
    "parkCode": "park_code"
}, inplace=True)

In [20]:
# Display transformed DataFrames
print("\nTransformed NPS_Weather_df")
print(NPS_Weather_df.info())
NPS_Weather_df.head(5)

Transformed NPS_Weather_df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   min_summer_temp  51 non-null     float64
 1   max_summer_temp  51 non-null     float64
 2   min_winter_temp  51 non-null     float64
 3   max_winter_temp  51 non-null     float64
 4   min_spring_temp  51 non-null     float64
 5   max_spring_temp  51 non-null     float64
 6   min_fall_temp    51 non-null     float64
 7   max_fall_temp    51 non-null     float64
 8   park_code        51 non-null     object
dtypes: float64(8), object(1)
memory usage: 3.7+ KB
None

,min_summer_temp,max_summer_temp,min_winter_temp,max_winter_temp,min_spring_temp,max_spring_temp,min_fall_temp,max_fall_temp,park_code
0,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2,acad
1,56.4,82.8,17.9,32.0,29.8,40.0,44.4,67.2,arch
2,56.2,79.2,18.0,25.9,12.5,41.4,46.9,60.8,badl
3,78.7,96.8,42.0,55.8,30.0,55.6,74.8,96.9,bibe
4,76.5,92.2,59.8,73.0,58.0,69.4,81.1,89.0,bisc

In [21]:
# Filter DataFrames to only include rows where park_designation is "National Park"
NPS_ThingsToDo_df = NPS_ThingsToDo_df[NPS_ThingsToDo_df["park_designation"] == "National Park"]
NPS_AmenitiesByPlace_df = NPS_AmenitiesByPlace_df[NPS_AmenitiesByPlace_df["park_designation"] == "National Park"]
NPS_Parks_df = NPS_Parks_df[NPS_Parks_df["park_designation"] == "National Park"]
NPS_ActivitiesByPark_df = NPS_ActivitiesByPark_df[NPS_ActivitiesByPark_df["park_designation"] == "National Park"]

### Step 3: Edit/merge data to create appropriate datasets for use in analysis

In [22]:
# Define a function to handle merging and combining columns
def merge_dataframes(left_df, right_df, on, suffixes=('_x', '_y')):
    merged_df = left_df.merge(right_df, on=on, how="left", suffixes=suffixes)
    for col in left_df.columns:
        if col + suffixes[0] in merged_df.columns and col + suffixes[1] in merged_df.columns:
            merged_df[col] = merged_df[col + suffixes[0]].combine_first(merged_df[col + suffixes[1]])
            merged_df = merged_df.drop(columns=[col + suffixes[0], col + suffixes[1]])
    return merged_df

In [23]:
# Merge DataFrames and combine columns for Amenities by Place
amenities_by_place_df = merge_dataframes(NPS_ParkCodes_df, NPS_AmenitiesByPlace_df, on="park_code")
amenities_by_place_df = merge_dataframes(amenities_by_place_df, NPS_Parks_df, on="park_code")
amenities_by_place_df = merge_dataframes(amenities_by_place_df, NPS_Weather_df, on="park_code")

In [24]:
# Display info and head of the merged DataFrames
print("\nAmenities by Place DataFrame info")
print(amenities_by_place_df.info())
amenities_by_place_df.head(5)

Amenities by Place DataFrame info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1870 entries, 0 to 1869
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   park_code         1870 non-null   object
 1   amenity_id        1869 non-null   object
 2   amenity_name      1869 non-null   object
 3   park_states       1869 non-null   object
 4   park_id           1870 non-null   object
 5   park_latitude     1870 non-null   float64
 6   park_longitude    1870 non-null   float64
 7   park_designation  1870 non-null   object
 8   park_url          1870 non-null   object
 9   park_name         1870 non-null   object
 10  min_summer_temp   1870 non-null   float64
 11  max_summer_temp   1870 non-null   float64
 12  min_winter_temp   1870 non-null   float64
 13  max_winter_temp   1870 non-null   float64
 14  min_spring_temp   1870 non-null   float64
 15  max_spring_temp   1870 non-null   float64
 16  min_fall_temp     1870 non-null   float64
 17  max_fall_temp     1870 non-null   float64
dtypes: float64(10), object(8)
memory usage: 263.1+ KB
None

,park_code,amenity_id,amenity_name,park_states,park_id,park_latitude,park_longitude,park_designation,park_url,park_name,min_summer_temp,max_summer_temp,min_winter_temp,max_winter_temp,min_spring_temp,max_spring_temp,min_fall_temp,max_fall_temp
0,acad,4E4D076A-6866-46C8-A28B-A129E2B8F3DB,Accessible Rooms,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
1,acad,7DC6C690-2BC3-4344-9691-EF9FCFB6E506,Audio Description,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
2,acad,63734D6E-3330-4EED-B916-52B3F625A091,Beach/Water Access,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
3,acad,20291812-E85C-4A84-B8A2-E31C8D149704,Benches/Seating,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
4,acad,5BDFF349-2F74-490E-A33E-C35286152050,Bicycle - Rack,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2

In [25]:
# Merge DataFrames and combine columns for Activities by Park
activities_by_park_df = merge_dataframes(NPS_ParkCodes_df, NPS_ActivitiesByPark_df, on="park_code")
activities_by_park_df = merge_dataframes(activities_by_park_df, NPS_Parks_df, on="park_code")
activities_by_park_df = merge_dataframes(activities_by_park_df, NPS_Weather_df, on="park_code")

In [26]:
print("\nActivities by Park DataFrame info")
print(activities_by_park_df.info())
activities_by_park_df.head(5)

Activities by Park DataFrame info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   park_code         769 non-null    object
 1   activity_id       769 non-null    object
 2   activity_name     769 non-null    object
 3   park_states       769 non-null    object
 4   park_id           769 non-null    object
 5   park_latitude     769 non-null    float64
 6   park_longitude    769 non-null    float64
 7   park_designation  769 non-null    object
 8   park_url          769 non-null    object
 9   park_name         769 non-null    object
 10  min_summer_temp   769 non-null    float64
 11  max_summer_temp   769 non-null    float64
 12  min_winter_temp   769 non-null    float64
 13  max_winter_temp   769 non-null    float64
 14  min_spring_temp   769 non-null    float64
 15  max_spring_temp   769 non-null    float64
 16  min_fall_temp     769 non-null    float64
 17  max_fall_temp     769 non-null    float64
dtypes: float64(10), object(8)
memory usage: 108.3+ KB
None

,park_code,activity_id,activity_name,park_states,park_id,park_latitude,park_longitude,park_designation,park_url,park_name,min_summer_temp,max_summer_temp,min_winter_temp,max_winter_temp,min_spring_temp,max_spring_temp,min_fall_temp,max_fall_temp
0,acad,09DF0950-D319-4557-A57E-04CD2F63FF42,Arts and Culture,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,https://www.nps.gov/acad/index.htm,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
1,acad,13A57703-BB1A-41A2-94B8-53B692EB7238,Astronomy,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,https://www.nps.gov/acad/index.htm,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
2,acad,7CE6E935-F839-4FEC-A63E-052B1DEF39D2,Biking,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,https://www.nps.gov/acad/index.htm,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
3,acad,071BA73C-1D3C-46D4-A53C-00D5602F7F0E,Boating,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,https://www.nps.gov/acad/index.htm,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
4,acad,A59947B7-3376-49B4-AD02-C0423E08C5F7,Camping,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,https://www.nps.gov/acad/index.htm,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2

In [27]:
# Merge the Amenities and Activities DataFrames
amenities_activities_df = pd.concat([amenities_by_place_df, activities_by_park_df], ignore_index=True)

In [28]:
# Display info and head of the merged DataFrame
print("\nAmenities and Activities DataFrame info")
print(amenities_activities_df.info())
amenities_activities_df.head(5)

Amenities and Activities DataFrame info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2639 entries, 0 to 2638
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   park_code         2639 non-null   object
 1   amenity_id        1869 non-null   object
 2   amenity_name      1869 non-null   object
 3   park_states       2638 non-null   object
 4   park_id           2639 non-null   object
 5   park_latitude     2639 non-null   float64
 6   park_longitude    2639 non-null   float64
 7   park_designation  2639 non-null   object
 8   park_url          2639 non-null   object
 9   park_name         2639 non-null   object
 10  min_summer_temp   2639 non-null   float64
 11  max_summer_temp   2639 non-null   float64
 12  min_winter_temp   2639 non-null   float64
 13  max_winter_temp   2639 non-null   float64
 14  min_spring_temp   2639 non-null   float64
 15  max_spring_temp   2639 non-null   float64
 16  min_fall_temp     2639 non-null   float64
 17  max_fall_temp     2639 non-null   float64
 18  activity_id       769 non-null    object
 19  activity_name     769 non-null    object
dtypes: float64(10), object(10)
memory usage: 412.5+ KB
None

,park_code,amenity_id,amenity_name,park_states,park_id,park_latitude,park_longitude,park_designation,park_url,park_name,min_summer_temp,max_summer_temp,min_winter_temp,max_winter_temp,min_spring_temp,max_spring_temp,min_fall_temp,max_fall_temp,activity_id,activity_name
0,acad,4E4D076A-6866-46C8-A28B-A129E2B8F3DB,Accessible Rooms,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2,NaN,NaN
1,acad,7DC6C690-2BC3-4344-9691-EF9FCFB6E506,Audio Description,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2,NaN,NaN
2,acad,63734D6E-3330-4EED-B916-52B3F625A091,Beach/Water Access,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2,NaN,NaN
3,acad,20291812-E85C-4A84-B8A2-E31C8D149704,Benches/Seating,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2,NaN,NaN
4,acad,5BDFF349-2F74-490E-A33E-C35286152050,Bicycle - Rack,ME,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,44.409286,-68.247501,National Park,http://www.nps.gov/acad/,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2,NaN,NaN

In [29]:
# Merge DataFrames and combine columns for Entrance Fees
entrance_fees_df = merge_dataframes(NPS_ParkCodes_df, NPS_EntranceFees_df, on="park_code")
entrance_fees_df = merge_dataframes(entrance_fees_df, NPS_Parks_df, on="park_code")
entrance_fees_df = merge_dataframes(entrance_fees_df, NPS_Weather_df, on="park_code")

In [30]:
print("\nEntrance Fees DataFrame info")
print(entrance_fees_df.info())
entrance_fees_df.head(5)

Entrance Fees DataFrame info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   park_code                  51 non-null     object
 1   total_fees                 6 non-null      float64
 2   average_fees               6 non-null      float64
 3   pass_fee                   6 non-null      float64
 4   free_park                  6 non-null      object
 5   entrance_pass_description  2 non-null      object
 6   entrance_fee_description   3 non-null      object
 7   fees_url                   3 non-null      object
 8   park_id                    51 non-null     object
 9   park_url                   51 non-null     object
 10  park_latitude              51 non-null     float64
 11  park_longitude             51 non-null     float64
 12  park_designation           51 non-null     object
 13  park_name                  51 non-null     object
 14  min_summer_temp            51 non-null     float64
 15  max_summer_temp            51 non-null     float64
 16  min_winter_temp            51 non-null     float64
 17  max_winter_temp            51 non-null     float64
 18  min_spring_temp            51 non-null     float64
 19  max_spring_temp            51 non-null     float64
 20  min_fall_temp              51 non-null     float64
 21  max_fall_temp              51 non-null     float64
dtypes: float64(13), object(9)
memory usage: 8.9+ KB
None

,park_code,total_fees,average_fees,pass_fee,free_park,entrance_pass_description,entrance_fee_description,fees_url,park_id,park_url,...,park_designation,park_name,min_summer_temp,max_summer_temp,min_winter_temp,max_winter_temp,min_spring_temp,max_spring_temp,min_fall_temp,max_fall_temp
0,acad,91.0,13.0,70.0,False,A park entrance pass is required year-round. A...,A park entrance pass is required year-round at...,https://www.nps.gov/acad/planyourvisit/fees.htm,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,https://www.nps.gov/acad/index.htm,...,National Park,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
1,arch,72.0,18.0,55.0,False,NaN,NaN,https://www.nps.gov/arch/learn/management/your...,36240051-018E-4915-B6EA-3F1A7F24FBE4,https://www.nps.gov/arch/index.htm,...,National Park,Arches National Park,56.4,82.8,17.9,32.0,29.8,40.0,44.4,67.2
2,care,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2F05E2B8-CDA3-434E-9C4C-C7DD828CAC3B,https://www.nps.gov/care/index.htm,...,National Park,Capitol Reef National Park,48.5,77.9,18.3,31.4,25.6,39.0,41.4,65.6
3,cuva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F4D44F29-3F67-498F-B05B-0783473D2708,https://www.nps.gov/cuva/index.htm,...,National Park,Cuyahoga Valley National Park,63.5,80.1,17.0,35.6,15.0,38.2,47.3,70.9
4,glac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2B5178C6-2446-488C-AC31-47E3CEBF7159,https://www.nps.gov/glac/index.htm,...,National Park,Glacier National Park,23.4,38.6,12.3,17.7,5.4,24.6,36.2,41.5

In [31]:
# Merge DataFrames and combine columns for Things To Do
things_to_do_df = merge_dataframes(NPS_ParkCodes_df, NPS_ThingsToDo_df, on="park_code")
things_to_do_df = merge_dataframes(things_to_do_df, NPS_Parks_df, on="park_code")
things_to_do_df = merge_dataframes(things_to_do_df, NPS_Weather_df, on="park_code")

In [32]:
print("\nThings to Do DataFrame info")
print(things_to_do_df.info())
things_to_do_df.head(5)

Things to Do DataFrame info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   park_code             137 non-null    object
 1   location              83 non-null     object
 2   reservation_required  87 non-null     object
 3   pets_permitted        87 non-null     object
 4   activities            87 non-null     object
 5   amenities             87 non-null     object
 6   do_fees_apply         87 non-null     object
 7   park_states           87 non-null     object
 8   tag1                  87 non-null     object
 9   tag2                  75 non-null     object
 10  tag3                  75 non-null     object
 11  tag4                  74 non-null     object
 12  tag5                  73 non-null     object
 13  tag6                  70 non-null     object
 14  tag7                  62 non-null     object
 15  tag8                  51 non-null     object
 16  tag9                  39 non-null     object
 17  tag10                 26 non-null     object
 18  tag11                 12 non-null     object
 19  tag12                 7 non-null      object
 20  tag13                 3 non-null      object
 21  tag14                 1 non-null      object
 22  tag15                 1 non-null      object
 23  tag16                 1 non-null      object
 24  season1               87 non-null     object
 25  season2               81 non-null     object
 26  season3               78 non-null     object
 27  season4               31 non-null     object
 28  park_id               137 non-null    object
 29  park_url              137 non-null    object
 30  park_latitude         137 non-null    float64
 31  park_longitude        137 non-null    float64
 32  park_designation      137 non-null    object
 33  park_name             137 non-null    object
 34  min_summer_temp       137 non-null    float64
 35  max_summer_temp       137 non-null    float64
 36  min_winter_temp       137 non-null    float64
 37  max_winter_temp       137 non-null    float64
 38  min_spring_temp       137 non-null    float64
 39  max_spring_temp       137 non-null    float64
 40  min_fall_temp         137 non-null    float64
 41  max_fall_temp         137 non-null    float64
dtypes: float64(10), object(32)
memory usage: 45.1+ KB
None

,park_code,location,reservation_required,pets_permitted,activities,amenities,do_fees_apply,park_states,tag1,tag2,...,park_designation,park_name,min_summer_temp,max_summer_temp,min_winter_temp,max_winter_temp,min_spring_temp,max_spring_temp,min_fall_temp,max_fall_temp
0,acad,Echo Lake Beach,False,True,"{id: 587BB2D3-EC35-41B2-B3F7-A39E2B088AEE, nam...",[],False,ME,Acadia National Park,Echo Lake,...,National Park,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
1,acad,Cadillac Mountain,False,True,"{id: D37A0003-8317-4F04-8FB0-4CF0A272E195, nam...",[],False,ME,stargazing,night skies,...,National Park,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
2,acad,Acadia Mountain Loop,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,ME,,None,...,National Park,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
3,acad,Sargent and Penobscot Mountains from JPH,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,ME,,None,...,National Park,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2
4,acad,Jordan Pond Loop,False,True,"{id: 45261C0A-00D8-4C27-A1F8-029F933A0D34, nam...",[],False,ME,,None,...,National Park,Acadia National Park,51.1,72.9,17.6,29.2,8.6,27.8,46.5,62.2

In [33]:
# Define the directory path for saving the CSV files
directory_path = Path("../Transform/transformed_nps_csv_files")

# Create the directory if it doesn't exist
directory_path.mkdir(parents=True, exist_ok=True)

# Save the merged DataFrames to CSV files in the specified directory
amenities_activities_df.to_csv(directory_path / "nps_amenities_activities.csv", index=False)
entrance_fees_df.to_csv(directory_path / "nps_entrance_fees.csv", index=False)
things_to_do_df.to_csv(directory_path / "nps_things_to_do.csv", index=False)